#doc {
    background: yellow;
}
#head {
    width: 100%;
    height: 60px;
    background: #324057;
    color: #fff;
}
#body {
    background-color:#eff2f7;
    overflow: hidden;
    height: 100%;
}
#slider {
    width: 200px;
    float: left;
    height: 100%;
    overflow-y: auto;
}
#content {
    margin-left: 200px;
    height: 100%;
    overflow-y: scroll;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}
 #foot {
    background: #999;
    height: 0px;
}
